.survey_input_container {
    width: 400px;
    margin: 0 auto;
    text-align: center;

    > div {
        width: 100%;
        margin: 10px auto;

        > label {
            font-size: 14px;
        }
    }
}

.survey_cancel_submit_button_container {
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin: 15px auto;

    > a {
        text-decoration: none;
    }
}


.survey_form_review_container {
    width: 400px;
    margin: 0 auto;

    .survey_form_review_field {
        width: 100%;
        margin: 15px 0;

        > div {

            > input {
                color: #000;
            }
        }
    }
}
